---
dist: xenial   # required for Python >= 3.7
language: python
matrix:
  include:
    - name: 'Python 2.7'
      python: '2.7'
      env: RESET_PIPENV=yes
    - name: 'Python 3.6'
      python: '3.6'
    - name: 'Python 3.7'
      python: '3.7'

# command to install dependencies
before_install:
  - if [[ $RESET_PIPENV = 'yes' ]]; then
      rm Pipfile.lock;
    fi
  - pip install pipenv

install:
  - pipenv install --dev

# command to run tests
script: pipenv run py.test
